* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}
main{
    height: 100vh;
    width: 100vw;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}
#card{
    height: 500px;
    width: 800px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#card img{
    height: 200px;
    width: 200px;
    position: absolute;
    left: 40%;
    top: 5px;
}
#h1div{
    margin-top: 75px;
    height: 100px;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
#btndiv{
    position: relative;
    height: 20%;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#btndiv #btn1{
    position: absolute;
    top: 100px;
    left: 50px;
    padding: 15px 30px;
    background-color: crimson;
    color:white;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

#btndiv #btn1:hover{
    transform: scale(1.2);
}

#btndiv #btn2{
    position: absolute;
    cursor: pointer;
    padding:15px 25px;
    background-color: aquamarine;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 700;
}

#popup {
  display: none;              /* hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6); /* semi-transparent background */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
#popup img {
  max-width: 500px;
  border: 3px solid white;
  border-radius: 10px;
}
#closeBtn {
  margin-top: 10px;
  padding: 5px 10px;
  background: #f44336;
  color: white;
  border: none;
  cursor: pointer;
}
